 h1{
    display: flex;
    color: orange;
  }

*{
    padding: 0;
    margin: 0;
}



 html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
}

#fullheight {
    width: 90%;       /* fit smaller screens */
    max-width: 400px; /* don’t let it grow too big */
}




.container{
    height: 100%;
    background-color: rgb(0, 0, 0);
}


.result{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39%;
}


.result span{
    margin-right: 60px;
    font-size: 210px;
    justify-self: flex-end;
}

button {
  width: 20%;       /* instead of fixed px */
  height: 60px;     /* adjust to look nice */
  font-size: 1.2rem;
}



.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    color: white;
    height: 210px;
    width: 210px;
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}


.persent{
    background-color:  #a5a5a5;
    border: none;
    color: black;
}


.item1{
    background-color: #a5a5a5;
    border: none;
}


.item3{
    background-color: #FF9F0A;
    border: none;
}

.numbers, .comma{
    background-color: #343434;
    border: none;
}

.negative, .clear{
    color: rgb(0, 0, 0);
}

.itemZero{
    background-color: #343434;
     width: 435PX;
    border-radius:135px;
    grid-column: span 2;
    border: none;
}
#input {
    display: block;
    font-size: 210px;
    background-color: black;
    border: none;
    color: white;
    text-align: right;
    margin-right: 5%;
    width:100%;
}
 

 
